{
	"rules": {
		"indent": [
			2,
			"tab"
		],
		"quotes": [
			1,
			"single"
		],
		"linebreak-style": [
			2,
			"unix"
		],
		"semi": [
			2,
			"never"
		],
		"no-console": 0
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"extends": "eslint:recommended",
	"ecmaFeatures": {
		"jsx": true,
		"experimentalObjectRestSpread": true
	},
	"plugins": [
		"react"
	]
}
